<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Torne-se Arquiteto DEV</h4>
                        <p class="card-category">Você está procurando se especializar como DEV Fullstack?</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Front-End</th>
                                        <th class="text-center">Front + Back-End</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lógica em Programação</td>
                                        <td class="text-center">r$1</td>
                                        <td class="text-center">r$2</td>
                                    </tr>
                                    <tr>
                                        <td>Angular Avançado</td>
                                        <td class="text-center">r$3</td>
                                        <td class="text-center">r$4</td>
                                    </tr>
                                    <tr>
                                        <td>UX/UI</td>
                                        <td class="text-center">r$5</td>
                                        <td class="text-center">r$6</td>
                                    </tr>
                                    <tr>
                                        <td>Torne-se Debugger Avançado pra Tech Leader</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Aprenda Jira e Metodos Ageis...</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Aprenda a Codificar Segurança Avançada nas aplicações</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Suporte Premium</td>
                                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-center">Básico</td>
                                        <td class="text-center">Pacote Full</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="javascript:void(0)" class="btn btn-round btn-fill btn-default disabled">Pacote Atual</a>
                                        </td>
                                        <td class="text-center">
                                            <a target="_blank" href="" class="btn btn-round btn-fill btn-info">Torne-se Fullstack</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
