<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Dashboard - Cabecalhos</h4>
            <p class="card-category">Criado usando Fonte da Familia Roboto</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Tipografia</h2>
                </div>
                <div class="row">
                    <div class="tim-typo">
                        <h1>
                            <span class="tim-note">Header 1</span>Linha de Material Dashboard </h1>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Header 2</span>Linha de Material Dashboard</h2>
                    </div>
                    <div class="tim-typo">
                        <h3>
                            <span class="tim-note">Header 3</span>Linha de Material Dashboard</h3>
                    </div>
                    <div class="tim-typo">
                        <h4>
                            <span class="tim-note">Header 4</span>Linha de Material Dashboard</h4>
                    </div>
                    <div class="tim-typo">
                        <h5>
                            <span class="tim-note">Header 5</span>Linha de Material Dashboard</h5>
                    </div>
                    <div class="tim-typo">
                        <h6>
                            <span class="tim-note">Header 6</span>Linha de Material Dashboard</h6>
                    </div>
                    <div class="tim-typo">
                        <p>
                            <span class="tim-note">Paragraph</span>
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas. Eu entendo cultura. Eu sou o núcleo. Eu penso que a responsabilidade que eu tenho, para avançar com possibilidades, para mostrar às pessoas, este é o nível em que as coisas poderiam estar.</p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Quote</span>
                        <blockquote class="blockquote">
                            <p>
                                Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas. Eu entendo cultura. Eu sou o núcleo. Eu penso que a responsabilidade que eu tenho, para avançar com possibilidades, para mostrar às pessoas, este é o nível em que as coisas poderiam estar.
                            </p>
                            <small>
                                Kanye West, Músico
                            </small>
                        </blockquote>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Muted Text</span>
                        <p class="text-muted">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Primary Text</span>
                        <p class="text-primary">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Info Text</span>
                        <p class="text-info">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Success Text</span>
                        <p class="text-success">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas... </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Warning Text</span>
                        <p class="text-warning">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas...
                        </p>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Danger Text</span>
                        <p class="text-danger">
                            Eu serei o lider da companhia que atinge o crescimento de bilhões de dólares, porque eu tenho as respostas... </p>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">Small Tag</span>
                            Cabeçalho com pequeno subtitulo
                            <br>
                            <small>Use "small" tag para os cabeçalhos (headers)</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
