h1{
  font-family:'Roboto';
  font-size: 36px;
  color: #392abf;
  text-align: center;
  }

h3{
  font-family:'Roboto';
  font-size: 18px;
  color: #4e6648;
  text-align: center;
}

.content{
  font-family:'Roboto';
  font-size: 18px;
}

/* CSS da Caixa do Formulário */
.form{
width: 600px;
padding: 30px;
border:3px solid #b7b7b7;
}

/* CSS dos Campos do Formulário */
.field{
  font-family:'Roboto';
  font-size: 14px;
}

/* Estilo do Placeholder */
::-webkit-input-placeholder{
  color:rgb(30, 75, 75);
  font-style:  italic;
  font-size: 14px;
  }

input:-moz-placeholder,textarea:-moz-placeholder{
  color: #4e6648;
  font-style: italic;
}

.button{
  border:none;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #008cba;
}
