<div class="container">
    <h4>Lista de Pacientes</h4>
    <div class="content">
      <table class="tabela">
                              <thead class="cabeçalho">
                                  <th class="ID">ID</th>
                                  <th class="NomePaciente">Nome do Paciente</th>
                                  <th class="DataNascimento">Data de Nascimento</th>
                                  <th class="Idade">Idade</th>
                                  <th class="Sexo">Sexo</th>
                                  <th class="PlanoDeSaude">Plano de Saúde</th>
                                  <th class="Endereco">Endereço</th>
                                  <th class="Bairro">Bairro</th>
                                  <th class="Cidade">Cidade</th>
                              </thead>

                              <tbody>
                                    <tr>
                                      <td>1</td> <!-- ID-->
                                      <td>Romário de Souza Faria</td> <!-- Nome do Paciente -->
                                      <td class="DataNascimento">29/01/1966</td> <!-- Nome do Paciente -->
                                      <td>56 anos</td> <!-- Idade -->
                                      <td>Masculino</td> <!-- Sexo -->
                                      <td>Unimed PL100</td> <!-- Plano de Saúde -->
                                      <td>Av: Ana Costa, Nº 433</td> <!-- Endereço -->
                                      <td>Gonzaga</td> <!-- Bairro -->
                                      <td>Santos</td> <!-- Cidade -->
                                  </tr>
                                      <tr>
                                      <td>2</td> <!-- ID-->
                                        <td>Arthur Antunes Coimbra Zico</td> <!-- Nome do Paciente -->
                                        <td class="DataNascimento">03/03/1953</td> <!-- Nome do Paciente -->
                                        <td>69 anos</td> <!-- Idade -->
                                        <td>Masculino</td> <!-- Sexo -->
                                        <td>Blue Med Platinium</td> <!-- Plano de Saúde -->
                                        <td>Av: Presidente Kennedy, Nº 1066</td> <!-- Endereço -->
                                        <td>Boqueirão</td> <!-- Bairro -->
                                        <td>Praia Grande</td> <!-- Cidade -->
                                    </tr>
                                      <tr>
                                        <td>3</td> <!-- ID-->
                                        <td>Edson Arantes do Nascimento</td> <!-- Nome do Paciente -->
                                        <td class="DataNascimento">23/10/1940</td> <!-- Nome do Paciente -->
                                        <td>81 anos</td> <!-- Idade -->
                                        <td>Masculino</td> <!-- Sexo -->
                                        <td>Amil One Vida V </td> <!-- Plano de Saúde -->
                                        <td>Av: Oswaldo Crocane, Nº 580</td> <!-- Endereço -->
                                        <td>Ponta da Praia </td> <!-- Bairro -->
                                        <td>Santos</td> <!-- Cidade -->
                                      </tr>
                                        <tr>
                                          <td>4</td> <!-- ID-->
                                          <td>Jose Roberto Gama de Oliveira</td> <!-- Nome do Paciente -->
                                          <td class="DataNascimento">16/02/1964</td> <!-- Nome do Paciente -->
                                          <td>58 anos</td> <!-- Idade -->
                                          <td>Masculino</td> <!-- Sexo -->
                                          <td>Bradesco Saúde</td> <!-- Plano de Saúde -->
                                          <td>Av: Bernadino de Campos, Nº 120</td> <!-- Endereço -->
                                          <td>Cmapo Grande</td> <!-- Bairro -->
                                          <td>Santos</td> <!-- Cidade -->
                                        </tr>
                              </tbody>
        </table>
      </div>
</div>
