<div align="center" class="header">
  <h1 style="color: #392abf">Cadastro de Pessoas</h1>
</div>
<body>
  <form class="form" align="left" method="post">
    <div>
      <div class="field">
        <label for="Login">Digite seu E-mail:</label>
        <input
          type="text"
          id="Login"
          name="Login"
          placeholder="Digite seu nome E-Mail*"
          required
        />
      </div>
      <div class="field">
        <label for="Senha">Digite a Senha:</label>
        <input
          type="password"
          id="Senha"
          name="Senha"
          placeholder="Digite a senha"
          required
        />
      </div>
    </div>
    <input type="submit" name="acao" value="Logar" />
  </form>
  <div align="center" class="footer">
    <p>Cadastre-se e Receba Novidades!</p>
  </div>
</body>
