<div align="center" class="header">
  <h1 style="color: #392abf">Login</h1>
</div>
<body>
  <form class="form" align="left" method="post">
    <div>
      <div class="field">
        <label for="Login">Digite seu E-mail:</label>
        <input
          id="Login"
          type="email"
          name="Login"
          placeholder="Digite seu nome E-Mail*"
          required
        />
      </div>
      <div class="field">
        <label for="Senha">Digite a Senha:</label>
        <input
          id="Senha"
          type="password"
          name="Senha"
          placeholder="Digite a senha"
          required
        />
      </div>
    </div>
    <input type="submit" name="acao" value="Logar" />
  </form>
  <div align="center" class="footer">
    <p class="link">
      Ainda não tem Cadastro?
      <a href="#paracadastro">Cadastra-se</a>
    </p>
  </div>
</body>
